<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.caspergasper.android.goodreads"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" 
    android:theme="@style/goodreads" android:debuggable="true" android:name="GoodReadsApp">
        <activity android:name=".GoodreadsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                 <category android:name="android.intent.category.DEFAULT"></category> 
            </intent-filter>
        </activity>

    
<activity android:name=".SettingsActivity" android:label="@string/app_name">
<intent-filter>
                <action android:name="android.intent.action.VIEW"></action>  
 <category android:name="android.intent.category.DEFAULT"></category>  
 <category android:name="android.intent.category.BROWSABLE"></category>  
 <data android:scheme="goodreadsactivity" android:host="token"></data>   
</intent-filter>
</activity>
<activity android:name=".About" android:label="@string/app_name"></activity>
</application>
    <uses-sdk android:minSdkVersion="3" />
<uses-permission android:name="android.permission.INTERNET" />

</manifest> 